<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <img src=" assets\343f0bf2-3964-43d1-87c3-f2f0ce2cd001.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><a class="card-link" routerLink="home" class="text-decoration-none">
                            Inventory </a></h5>
                    <p class="card-text"> <a class="card-link" routerLink="blog1" class="text-decoration-none "> Get
                            Hold On Your Inventory or Watch your Inventory </a></p>
                </div>

            </div>
        </div>
        <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <img src=" assets\708f449e-161c-4ed4-b94e-be561f9d589f.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><a class="card-link" routerLink="home" class="text-decoration-none">
                            Inventory </a></h5>
                    <p class="card-text"> <a class="card-link" routerLink="blog2" class="text-decoration-none "> Get
                            Hold On Your Inventory or Watch your Inventory </a></p>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card" style="width: 30rem;">
                <img src=" assets\343f0bf2-3964-43d1-87c3-f2f0ce2cd001.jpg" alt="Snow">
                <button class="btn">Know more</button>
                <div class="card-body">
                    <h5 class="card-title"><a class="card-link" routerLink="home" class="text-decoration-none">
                            Inventory </a></h5>
                    <p class="card-text"> <a class="card-link" routerLink="blog1" class="text-decoration-none "> Get
                            Hold On Your Inventory or Watch your Inventory </a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card" style="width: 30rem;">
                <img src="assets\708f449e-161c-4ed4-b94e-be561f9d589f.jpg " alt="Snow">
                <button class="btn">Know more</button>
                <div class="card-body">
                    <h5 class="card-title"><a class="card-link" routerLink="home" class="text-decoration-none">
                            Inventory </a></h5>
                    <p class="card-text"> <a class="card-link" routerLink="blog2" class="text-decoration-none "> Get
                            Hold On Your Inventory or Watch your Inventory </a></p>
                </div>
            </div>
        </div>
    </div>
</div>