<p>blog1 works!</p>
<div class="container"> 
<p>
    In a D2C brand’s journey the formative years are fledgling and the brand leans heavily on the big multi-side platforms (MSPs) like Amazon, Flipkart etc. for establishing both visibility and credibility. From a nobody to a Nykaa or Zivame, where the brand invades the much coveted consumer mind-space and sells directly minus the props, is an arduous journey. 
One of the many challenges that confront D2C brands is inventory -  what to hold, how much to hold and where to hold so as to make it available real-time on all your sales channels minimising loss of sales. While an Amazon FBA, Flipkart Assured helps you with this and much more, it does come at a steep cost and you partake with a lot more than you thought off. The fine balance between Demand and inventory holding is a very dynamic feature of your biz. and is gets complex by the variables it entails - Demand projection, production capacities, lead times etc. 
A good way to handle this is to work with a D2C focussed logistics Co. who specializes in order fulfilment and inventory management. The prospective partner should have the following attributes:
Good tech which should maintain the integrity of stock at any point so as to fulfil all orders and provide visibility on a real time basis. 
Clean Warehouse environment for your products (apparel/food/Personal care/Health care etc.)
Right Storage system to receive in bulk (boxes/pallets) and fulfil piece level orders.
At City Link we offer an entire solution on absolute variable basis, you can start with as small as just a rack space and go on adding as you build Demand. We shall be able to take care of your orders and inventory 100%, while you spend 100% your valuable time creating amazing customer experiences with your products.  
</p>
</div>